<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<description>
		This Application context is used during production. See
		/test/resources/testContext.xml for test environment.
	</description>

	<context:component-scan base-package="li.task.srv.resource" />

	<bean id="taskListSrv" class="li.task.srv.model.FsTaskListSrv">
		<property name="dir" value="/usr/share/jetty/store" />
	</bean>
	
	<bean id="maildirScanner" class="li.task.srv.mail.MaildirScanner">
		<property name="maildir" value="/usr/share/jetty/Maildir" />
	</bean>
	<bean id="storingMessageProcessor" class="li.task.srv.mail.StoringMessageProcessor">
		<property name="taskListSrv" ref="taskListSrv" />
	</bean>

	<bean id="incomingMessageProcessor" class="li.task.srv.mail.DelegatingMessageProcessor">
		<property name="delegates">
			<list>
				<ref bean="maildirScanner" />
				<bean class="li.task.srv.mail.BulletPointExtractor" />
				<bean class="li.task.srv.mail.PersonExtractor" />
				<ref bean="storingMessageProcessor" />
				<bean class="li.task.srv.mail.IncomingMessageResponder" />
			</list>
		</property>
	</bean>


</beans>